/* Write your CSS code here */
.blog-container {
  font-family: 'Roboto';
  width: 100%;
}
.published-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex: 1;
  width: 100%;
}
.title {
  color: #12022f;
  font-size: 20px;
  font-weight: 700;
}
.description {
  color: #616e7c;
  font-size: 14px;
}
.published {
  color: #9aa5b1;
}
